.label-pos {
  margin-bottom: 5px;
}

.card-body-text-label {
  color: #837f7f;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.card-body-text-value {
  color: rgb(27, 44, 63);
  white-space: nowrap;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.contact-details-text-value {
  color: rgb(27, 44, 63);
  font-size: 17px;
  letter-spacing: 0.5px;
}

.padding-layout {
  padding: 20px;
}

.stteper-box {
  background: rgb(75 134 197) !important;
  padding: 10px 20px !important;
  border-top: solid 1px #d3d3d3 !important;
}

.white-box {
  background: white !important;
  padding: 10px 20px !important;
  border-radius: 8px !important;
  border: solid 1px #d3d3d3 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
}

.paymant-btn {
  background: rgb(75 134 197) !important;
  border-radius: 8px !important;
  font-weight: 400 !important;
  /* font-family: "Fredoka", sans-serif !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-size: 16px !important;
  width: 135px !important;
  height: 35px !important;
}

.flex-end {
  display: flex !important;
  justify-content: end !important;
}

.doc-design {
  border-radius: 8px;
  margin-top: 60px;
  border: solid 1px black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.prev-pos {
  display: flex;
  justify-content: start;
}

.next-pos {
  display: flex;
  justify-content: end;
}

.appartment-number {
  top: 75px;
  left: 25px;
  position: absolute;
  z-index: 1000000;
}

.img-text {
  text-align: center;
  color: rgb(27, 44, 63) !important;
  /* font-family: "Fredoka", sans-serif !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px;
}

.stepper-pos {
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1000000;
}

.floating-img-btn {
  bottom: 80px;
  left: 10px;
  position: fixed;
  z-index: 1000000;
}

.apartment-details-box {
  border: none !important;
  box-shadow: none !important;
  background: white !important;
  padding: 0 20px !important;
  border-radius: 8px !important;
}

.qr-layout {
  margin-bottom: 5px;
  padding: 0px 20px 0 45px;
  border-radius: 8px;
  background-color: white;
}

.fw-500 {
  font-weight: 500;
}
.is-exist-layout {
  padding-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.chip-margin {
  margin-left: 10px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  /* font-family: "Fredoka", sans-serif !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
  color: rgb(27, 44, 63) !important;
}

.active-chip {
  font-weight: bolder !important;
  margin-left: 10px !important;
  font-size: 14px !important;
  background: #76fac7 !important;
  color: rgb(27, 44, 63) !important;
}

.chips-pos {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: start;
}

.fab-btn {
  background: rgb(75 134 197) !important;
  color: white !important;
}

.floating-gallery-btn-camera {
  bottom: 20px;
  left: 20px;
  position: fixed;
  z-index: 1000000;
}

.fab-btn-camera {
  background: rgb(75 134 197) !important;
  color: white !important;
  width: 100px !important;
  height: 100px !important;
}

.gallery-icon-btn {
  font-size: 40px !important;
}
.text-end {
  text-align: end !important;
}

.pl-20 {
  padding-left: 20px;
}

.edit-fab {
  background: grey !important;
  color: white !important;
  height: 40px !important;
  width: 40px !important;
}

.relative {
  position: relative;
}

.neg-mt-10 {
  margin-top: -10px !important;
}

.save-btn {
  bottom: 65px;
  position: fixed;
}

.apartment-details-number {
  color: rgb(27, 44, 63) !important;
  letter-spacing: 1px;
  font-weight: 400;
}

.padding-btn-img {
  padding: 0 10%;
}

.img-bg-btn {
  background-image: url("/public/images/doc.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 150px !important;
  height: 190px !important;
  border: solid 1px black !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.maintenance-layout {
  margin: 0 30px 20px 50px;
  padding: 0px 20px;
  border-radius: 10px;
}

.mb-none {
  margin-bottom: 0 !important;
}

@media (max-width: 600px) {
  .qr-title {
    font-size: 18px !important;
    color: rgb(27, 44, 63) !important;
    font-weight: 500;
  }
}

@media (min-width: 600px) {
  .qr-title {
    font-weight: 500;
    color: rgb(27, 44, 63) !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

.take-image-btn {
  background: rgb(75 134 197) !important;
  border: solid 1px white !important;
  color: white !important;
  border-radius: 0 !important;
  /* font-family: "Fredoka", sans-serif !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-size: 20px !important;
  height: 55px !important;
}

.save-image-btn {
  background: #14ddb2 !important;
  border: solid 1px white !important;
  color: white !important;
  border-radius: 0 !important;
  /* font-family: "Fredoka", sans-serif !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-size: 20px !important;
  height: 55px !important;
}

.retake-image-btn {
  background: rgb(160, 52, 57) !important;
  border: solid 1px white !important;
  color: white !important;
  border-radius: 0 !important;
  /* font-family: "Fredoka", sans-serif !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-size: 20px !important;
  height: 55px !important;
}

.camera-btn {
  background: rgb(75 134 197) !important;
  font-size: 50px !important;
  position: fixed !important;
  left: 20px !important;
  top: 10% !important;
  width: 80px !important;
  height: 80px !important;
  z-index: 10000000 !important;
}

.camera-icon {
  color: white !important;
}

.gallery-img {
  border-radius: 8px;
  border: solid 2px rgb(27, 44, 63);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-gallery {
  position: relative;
  width: 200px;
}
.container-gallery img {
  display: block;
}
.container-gallery .fa-download {
  position: absolute !important;
  top: -20px !important;
  right: -20px !important;
}

.delete-img-icon {
  font-size: 30px !important;
  color: gray !important;
  border-radius: 50% !important;
  border: solid 2px gray !important;
  padding: 0 !important;
  background-color: white !important;
}

.dialog-action-btn {
  font-size: 20px !important;
  /* font-family: "Fredoka", sans-serif !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
}

.camera-size {
  width: 800px !important;
}

table,
th,
td {
  border: solid 1px black;
  border-collapse: collapse;
  text-align: start;
  /* table-layout: fixed; */
  padding: 5px;
}

th {
  color: rgb(27, 44, 63);
  font-weight: 500;
  font-weight: 600;
}

td {
  white-space: nowrap;
}

.table-title {
  margin-bottom: 3px;
  /* font-size: 14px; */
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5;
}

.table-div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.area-input {
  font-size: 16px !important;
  font-family: "Noto Sans Hebrew", sans-serif !important;
  margin-top: 10px !important;
}

.area-input-title {
  /* font-family: "Fredoka", sans-serif !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

b {
  font-weight: 600;
}

.main-summary-title {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.main-sum-table {
  border-left: solid 1px black;
}

.main-sum-label {
  font-weight: 500;
}

.summary-sub-title {
  margin: 8px 0 5px 0;
}

.summary-box {
  margin-bottom: 10px;
}

.summary-text-label {
  color: #837f7f;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
}

.summary-text-value {
  color: rgb(27, 44, 63);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 256mm;
  outline: 2cm #ffeaea solid;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.sammary-font {
  /* font-size: 14px; */
  font-size: 16px;
}

.sammary-font-medium {
  /* font-size: 12px; */
  font-size: 16px;
}

.sammary-font-small {
  /* font-size: 10px; */
  font-size: 16px;
}

.maintenance-first-label {
  /* font-size: 12px; */
  font-size: 16px;
  margin-left: 2px;
  font-weight: 600;
}

.text-start {
  text-align: start;
}

.mt-5 {
  /* margin-top: 5px; */
  margin-top: 10px;
}

.signature-container-summary {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 1px solid black;
}

.text-start {
  text-align: start !important;
}
