.top-bar-btn-active {
  font-weight: 600 !important;
  border: 2px solid #0087c7 !important;
  background: #0087c7 !important;
  color: white !important;
  font-family: Tahoma !important;
  font-size: 16px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.top-bar-btn-non-active {
  font-weight: 600 !important;
  border: 2px solid #0087c7 !important;
  color: black !important;
  font-family: Tahoma !important;
  font-size: 16px !important;
  border-bottom: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.docs-layout {
  margin-top: -2px;
  border: 2px solid #0087c7;
  padding-top: 20px;
}
