.adv-search-icon {
  padding: 3px !important;
}

.table-search {
  display: flex;
  justify-content: start;
  margin: 0 2% 20px 2% !important;
}

.welcome-title {
  font-family: Tahoma !important;
  display: flex;
  justify-content: start;
  margin: 0 2% 5px 2% !important;
  font-size: 24px;
  font-weight: 100;
}

.adv-search-title-location {
  display: flex;
  justify-content: start;
  margin-right: 2% !important;
  font-family: Tahoma !important;
}

.adv-search-title {
  font-weight: 100;
  margin-left: 10px;
  font-size: 24px;
}

.adv-search-divider {
  margin: 15px 2% 20px 2% !important;
}

.adv-search-container {
  display: flex;
  justify-content: center;
  margin: 0 2% 0 2% !important;
}

.adv-search-btn-text {
  font-family: Tahoma !important;
  font-size: 20px !important;
}

.search-init-btn {
  font-family: Tahoma !important;
  text-decoration: underline !important;
  margin: 5% !important;
}
