body {
  margin: 0;
  font-family: "Noto Sans Hebrew", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: "Noto Sans Hebrew", sans-serif;
}

.tc {
  text-align: center !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
