.bg-app-bar {
  background: linear-gradient(
    120deg,
    rgb(75 134 197) 30%,
    #5899e2 50%,
    #5899e2 82%,
    white 90%
  ) !important;
}

.h-75 {
  height: 75px !important;
}

.p-18 {
  padding: 18px;
}

.version-title {
  margin-right: 10px;
  font-size: 16px;
  /* font-family: Tahoma; */
  font-family: "Noto Sans Hebrew", sans-serif;
}

.color-white {
  background: "#FFFFFF" !important;
}

.mt-10p {
  margin-top: 10%;
}

.loading-text {
  color: rgb(27, 44, 63) !important;
  font-size: 22px !important;
  /* font-family: Tahoma !important; */
  font-family: "Noto Sans Hebrew", sans-serif !important;
}

.loading-style {
  margin-top: 30px !important;
}

.loading-position {
  padding: 250px 0;
  text-align: center;
}

.col-white {
  color: white !important;
}
