.avatar-card {
  background: #cbeaff !important;
  color: rgb(27, 44, 63) !important;
  width: 100px !important;
  height: 100px !important;
  font-family: Tahoma !important;
  font-size: 28px !important;
  border: solid 1px #837f7f !important;
}

.card-full-name {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
  font-family: Tahoma;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.tenant-card-text-label {
  color: #837f7f;
  font-family: Tahoma;
  font-size: 14px;
  letter-spacing: 1.3px;
}

.w-75 {
  width: 75%;
}
.tenant-card-text-value {
  color: black;
  font-family: Tahoma;
  font-size: 18px;
  letter-spacing: 1.3px;
}

.card-body-text-label {
  color: #837f7f;
  font-family: Tahoma;
  font-size: 12px;
  letter-spacing: 1px;
}

.card-body-text-value {
  /* color: black; */
  color: rgb(27, 44, 63);
  white-space: nowrap;
  font-family: Sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.padding-layout {
  padding: 20px;
}
.stteper-box {
  /* max-height: 60px; */
  background: rgb(75 134 197) !important;
  padding: 10px 20px !important;
  /* border-radius: 8px !important; */
  border-top: solid 1px #d3d3d3 !important;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important; */
}

.white-box {
  background: white !important;
  padding: 10px 20px !important;
  border-radius: 8px !important;
  /* margin: 20px 50px; */
  border: solid 1px #d3d3d3 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
}

.edit-general-details-btn {
  background: #d3d3d3 !important;
  font-family: Tahoma !important;
  font-size: 16px !important;
  width: 100px !important;
  height: 40px !important;
  margin: 10px 0 0 -10px !important;
}

.paymant-btn {
  background: rgb(75 134 197) !important;
  border-radius: 8px !important;
  font-family: Tahoma !important;
  font-size: 16px !important;
  width: 135px !important;
  height: 35px !important;
  /* margin: 10px 0 0 40px !important; */
}

.flex-end {
  display: flex !important;
  justify-content: end !important;
}

.doc-design {
  border-radius: 8px;
  margin-top: 60px;
  border: solid 1px black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.prev-btn {
  max-width: 150px !important;
  margin-left: 80% !important;
  /* margin: 10px 5% 0 auto !important; */
  background: rgb(75 134 197) !important;
  color: white !important;
  font-size: 18px !important;
  font-family: Tahoma !important;
  /* width: 200px !important; */
}
.prev-pos {
  display: flex;
  justify-content: start;
}
.next-pos {
  display: flex;
  justify-content: end;
}
.next-btn {
  max-width: 150px !important;
  /* margin: 10px 80% 0 auto !important; */
  background: rgb(75 134 197) !important;
  color: white !important;
  font-size: 18px !important;
  font-family: Tahoma !important;
  /* width: 200px !important; */
}

.appartment-number {
  top: 75px;
  left: 25px;
  position: absolute;
  z-index: 1000000;
}

.img-text {
  left: 0;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  /* color: black; */
}

.stepper-pos {
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1000000;
}

.floating-img-btn {
  bottom: 80px;
  left: 10px;
  position: fixed;
  z-index: 1000000;
}

.apartment-details-box {
  border: none !important;
  box-shadow: none !important;
  background: white !important;
  padding: 10px 20px !important;
  border-radius: 8px !important;
  /* margin: 20px 50px; */
  /* border: solid 1px #d3d3d3 !important; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important; */
}

.chip-margin {
  margin-left: 10px !important;
  font-size: 14px !important;
  font-weight: bolder !important;
  color: rgb(27, 44, 63) !important;
}

.active-chip {
  font-weight: bolder !important;
  margin-left: 10px !important;
  font-size: 14px !important;
  background: #76fac7 !important;
  color: rgb(27, 44, 63) !important;
}

.chips-pos {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: start;
}

.label-pos {
  margin-bottom: 2px;
}

.fab-btn {
  background: rgb(75 134 197) !important;
  color: white !important;
}

.text-end {
  text-align: end !important;
}

.pl-20 {
  padding-left: 20px;
}

.edit-fab {
  background: grey !important;
  color: white !important;
  height: 40px !important;
  width: 40px !important;
}

.relative {
  position: relative;
}

.neg-mt-10 {
  margin-top: -10px !important;
}

.save-btn {
  bottom: 65px;
  right: 10px;
  /* left: 25px; */
  position: fixed;
}

.text-color {
  color: rgb(27, 44, 63) !important;
}
